#header {
    background-image: url(../img/header-comunal1.jpg);
    color: white;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
	background-position: center;
    background-size: cover;;
}
#titleHeader {
    text-shadow: 5px 5px 5px rgb(90, 90, 90);
    font-family: 'Oswald', sans-serif;
}
#btnStart, #btnPhoto {
    color: #000000;
    background-color: rgb(245, 245, 12);
    font-family: 'Oswald', sans-serif;

}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
#registrarse, #results {
    padding-top: 50px;
    padding-bottom: 80px;
    
}
#textAdmin {
    color: #000000;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}
#results {
    background-color: #f1f1f1;
}
#titleRegister {
    text-align: center;
}

